@media (max-width: 1024px) {
  header {
    margin-left: 100px;
    margin-right: 100px;
  }
  section {
    margin-left: 100px;
    margin-right: 100px;
  }
  nav {
    margin-left: 100px;
  }
  .intro {
    margin-left: 70px;
    margin-right: 150px;
  }
  .d-details section p {
    flex: 0 0 41.6%;
  }
  .screen img {
    width: 512px;
  }
}

@media (max-width: 900px) {
  .col p {
    width: 300px;
  }
  .P-body h1 {
    width: 80%;
  }
  .P-info .four {
    grid-column: 2/2;
  }
  .d-details section p {
    flex: 0 0 37.7%;
  }
}

@media (max-width: 600px) {
  nav {
    margin-left: 40px;
  }
  header {
    grid-column: 1/3;
    margin-left: 40px;
    margin-right: 40px;
  }
  header h1,
  h1,
  #Res h1 {
    font-size: 30px;
    line-height: 48px;
  }
  header p {
    width: 100%;
  }
  p {
    font-size: 14px;
    line-height: 25px;
  }
  section {
    margin-left: 40px;
    margin-right: 40px;
  }
  section h2,
  h2 {
    font-size: 25px;
    line-height: 27px;
  }
  .col {
    flex: 1 1 100%;
    max-width: 100%;
  }
  nav ul li {
    padding-right: 20px;
    font-size: 12px;
  }
  .intro {
    margin-left: 20px;
    margin-right: 40px;
  }
  .P-info {
    row-gap: 100px;
    margin-top: 90px;
  }
  .P-body h1 {
    width: 100%;
  }
  .P-info .two {
    grid-column: 1;
  }
  .P-info .four {
    grid-column: 1;
  }
  .screen img {
    width: 272px;
  }
  .d-details section p {
    flex: 0 0 82%;
  }
  .d-details section img {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .Res-info {
    width: 80%;
  }
}

@media (max-width: 280px) {
  nav {
    margin-left: 20px;
  }
  header {
    width: 250px;
    margin-left: 20px;
  }
  .col p {
    width: 200px;
  }

  section {
    margin-left: 20px;
    margin-right: 20px;
  }
}
