@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: black;
  overflow-y: scroll !important;
  overflow-x: hidden;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #5d5d5d;
}

body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(auto, auto);
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #000000;
}

h1 {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  line-height: 62px;
  color: #111012;
  font-weight: 400;
}

h2 {
  color: #000000;
  font-weight: 500;
  line-height: 42px;
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 29px;
  color: #111012;
}

nav {
  grid-column: 1/3;
  grid-row: 1;
  margin-left: 180px;
  margin-top: 36px;
  margin-bottom: 90px;
  color: #1d1d1d;
}

#active {
  font-weight: 700;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

nav ul li {
  padding-right: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

nav ul li:last-child {
  padding-right: 0px;
}

header {
  margin-left: 180px;
  margin-right: 200px;
  margin-bottom: 100px;
  grid-column: 1/3;
}

header h1 {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 68px;
  margin-bottom: 87px;
  color: #111012;
}

header p {
  width: 70%;
}

section {
  margin-left: 180px;
  margin-bottom: 100px;
  margin-right: 161px;
  grid-column: 1/3;
}

section h2 {
  font-size: 30px;
  line-height: 37px;
  font-weight: 400;
}

section .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  flex: 1 1 50%;
  max-width: 45%;
  margin-bottom: 55px;
}

.col h2 {
  margin-bottom: 10px;
}

.col p {
  width: 390px;
  margin-top: 0px;
}

.project-intro {
  background-color: #e1d89f;
  grid-column: 1/3;
  grid-row: 1;
}

.project-intro nav {
  font-family: "Lato", sans-serif;
}

.intro {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  margin-left: 130px;
  margin-right: 200px;
  align-items: end;
}

.P-body {
  margin-top: 120px;
}

.P-body h1 {
  width: 50%;
}

.P-info {
  display: grid;
  row-gap: 200px;
  column-gap: 50px;
  margin-top: 150px;
}

.P-info .two {
  grid-column: 2 / 2;
}

.P-info .four {
  grid-column: 4/4;
}

.screen {
  background-color: #e1d89f;
  grid-column: 1/3;
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.screen img {
  width: 682px;
  margin-top: 22px;
}

.d-details {
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Res {
  margin-top: 0;
  margin-bottom: 74px;
}

#Res h1 {
  font-family: Inter, sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 62px;
  margin: 100px 0;
}

#Res h3 {
  font-weight: 500;
  color: #111012;
  margin-top: 86px;
}

#Res p {
  color: #090909;
}

#Res .d-details {
  padding-left: 180px;
  padding-right: 161px;
}

#Res section {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#Res .d-details section p {
  border: transparent;
  padding: 0 0;
}

#Res .d-details section:first-of-type {
  margin-bottom: 0;
}

#Res h3 {
  width: 100%;
}

.Res-info {
  width: 55%;
}

.Res-info {
  margin-bottom: 185px;
}

.Res-info:first-child {
  margin-bottom: 70px;
}

.d-details section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.d-details section p {
  border: 1px solid #4545454d;
  border-radius: 10px;
  padding: 35px 29px;
  flex: 0 0 42.6%;
  margin-bottom: 0;
}

.d-details section:first-of-type {
  margin-bottom: 185px;
}

.d-details section img {
  flex: 0 0 48.6%;
  max-width: 48.6%;
  margin-bottom: 50px;
}

.sub-text {
  margin-left: 15%;
  margin-top: 142px;
  margin-bottom: 332px;
}

.sub-text p {
  border: 1px solid #4545454d;
  border-radius: 10px;
  padding: 35px 29px;
  margin-bottom: 0;
}

.sub-text h3 {
  margin-top: 60px;
}

.sub-text2 {
  margin-top: 200px;
}

.imp {
  color: #454545;
  font-weight: 700;
}

.gap {
  margin-bottom: 70px;
}

.home {
  width: 65%;
}

#screen {
  width: 82%;
}

#screen2 {
  width: 40%;
}

footer {
  padding: 38px 182px;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  background-color: #f6fcfe;
  grid-column: 1/3;
}

footer #clinton {
  display: flex;
  justify-content: space-between;
}

footer #clinton img {
  width: 62px;
}

footer #clinton p:first-child {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #353738;
}

footer #clinton p {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  line-height: 21px;
}

footer .P-link p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  margin-bottom: 24px;
}

footer .P-link div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .P-link img {
  flex: 0 0 48.6%;
  max-width: 48.6%;
}
